# Google API Keys

# Google Maps API key
GOOGLE_MAPS_API_KEY='YOUR_API_KEY_HERE'

# Google Places API key
GOOGLE_PLACES_API_KEY='YOUR_API_KEY_HERE'

# Google Translate API key
GOOGLE_TRANSLATE_API_KEY='YOUR_API_KEY_HERE'

# Add other Google API keys as needed